In [19]:
# First step is to import the necessary libraries that we will be working with
import pandas as pd
import numpy as np

In [3]:
# Next step is to read the data and set it into a pandas dataframe to work with data
df = pd.read_csv('SuperBowlDataset.csv')

In [4]:
df.head()

,year,brand,superbowl_ads_dot_com_url,youtube_url,funny,show_product_quickly,patriotic,celebrity,danger,animals,use_sex
0,2000,E-Trade,https://superbowl-ads.com/2000-etrade-monkey-d...,https://www.youtube.com/watch?v=Muyq2kMDFoA,True,True,False,False,False,True,False
1,2000,E-Trade,https://superbowl-ads.com/2000-etrade-money-ou...,https://www.youtube.com/watch?v=oftjwYmlfoA,True,True,False,False,True,False,False
2,2000,Budweiser,https://superbowl-ads.com/2000-budweiser-whaas...,https://www.youtube.com/watch?v=loimTUjV92Q,True,True,False,False,False,False,False
3,2000,Bud Light,https://superbowl-ads.com/2000-bud-light-hold-...,https://www.youtube.com/watch?v=M3IV93HwSkc,True,True,False,False,True,False,False
4,2000,Budweiser,https://superbowl-ads.com/2000-budweiser-talki...,NaN,True,False,False,False,False,True,False

In [12]:
# Beginning the data cleaning process
df.shape # We can tell there are 244 rows and 11 columns

(244, 11)

In [50]:
df.nunique(axis=0)

year                          21
brand                         10
superbowl_ads_dot_com_url    244
youtube_url                  233
funny                          2
show_product_quickly           2
patriotic                      2
celebrity                      2
danger                         2
animals                        2
use_sex                        2
dtype: int64

In [17]:
# Lets build a checker for the year
years = df['year'][:]
print(years)

0      2000
1      2000
2      2000
3      2000
4      2000
       ...
239    2020
240    2020
241    2020
242    2020
243    2020
Name: year, Length: 244, dtype: int64

In [20]:
# Create a duplicate list using numpy to check against from years 2000 to 2020
np.arange(2000,2020)

array([2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010,
       2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019])

In [41]:
# Checking the years column to see if any years were skipped or typed out of order
years = df['year'].to_numpy()
year_range = np.arange(years.min(), years.max()+1)
unique_years = np.unique(years)
comparison = year_range == unique_years
equal_arrays = comparison.all()

if equal_arrays:
    print("Years are equal")

Years are equal

In [43]:
brand = df['brand'].to_numpy()
unique_brands = np.unique(brand)
print(unique_brands)
# Hyundai is mispelled, create new df with  proper spelling

['Bud Light' 'Budweiser' 'Coca-Cola' 'Doritos' 'E-Trade' 'Hynudai' 'Kia'
 'NFL' 'Pepsi' 'Toyota']

In [51]:
missing_url_number = df.shape[0] - df['youtube_url'].count()
percent_url_missing = df['youtube_url'].count() / df.shape[0]
print(percent_url_missing)

0.9549180327868853

244

In [62]:
true_funny = df['funny'].values.sum() * 1
false_funny = (~df['funny']).values.sum() * 1
total = true_funny + false_funny
# print(f"funny: {(true_funny / total)}")
# print(f"NOT funny: {(false_funny / total)*1}")
print(true_funny)

168